.parent {
    width: 400px;
    height: 400px;
    border: 3px solid black;
}
    
.child {
    width: 50%;
    height: 50%;
    border: 3px solid red;
}
      
.child h1 {
    font-size: 60px;
    border: 2px solid blue;
}

      
.child h1 u {
    font-size: 40%;
    border: 2px solid green;
}
       
.child img {
    width: 65%;
    border: 2px solid purple;
}