body{
    text-align: center;
    background-color: green;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}
img{
    border: 5px solid red;
    border-radius: 20px;
}
p{
    font-size: 20px;
    color: red;
    font-weight: 600;
}
button{
    background-color: red;
    border: 5px solid red;
    border-radius: 5px;
    color: white;
}
h1{
    color: white;
}